:root {
  --bg: #fdfdfd;
  --meta: #888;
  --accent: #3178cd;
  --text: black;
  --base: 1.5rem;
}

@media (max-width: 600px) {
  :root {
    --base: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';

  overflow: auto;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--bg);
}

.page, .exercise {
  /* overflow: hidden; */

  /* position: absolute; */
  layout: flex;
  position: relative;
  top: 80px;
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-bottom: 50px; /* Same as the width of the sidebar */
  padding-bottom: 50px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  font-size: 1rem;
  /* padding: 1rem; */

  overflow-y: auto; /* Disable horizontal scroll */
  /* text-align: center; */

}

.exercise code {
  font-size: 0.75rem;
}

.exercise {
  width: 85vw;
}

.exercise .sidebar {
  layout: flex;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 40px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
  padding-top: 50px;

  font-size: 0.75rem;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.page p {
  font-size: 1rem;
}

.slide {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 1rem;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

code {
  background-color: #00558922;
  padding: 20px;
  display: block;
  white-space: pre-wrap;

  text-align: left;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

code.language-output {
  
  background-color: #55008922;
}
.slide ul {
  text-align: left;
  margin-left: 32px;
}

a {
  color: var(--text);

  text-decoration-skip-ink: auto;
}

blockquote {
  font-size: 120%;
  font-weight: bold;

  width: 50vw;

  text-align: left;
}

@media (max-width: 900px) {
  blockquote {
    width: 90vw;
  }
}

blockquote div::before {
  content: '\201C';
}

blockquote div::after {
  content: '\201D';
}

cite {
  font-size: 80%;
  font-weight: normal;
  font-style: normal;

  display: block;

  margin-top: 2rem;
}

cite::before {
  content: '\2014\00a0';
}

pre {
  /* font-size: 70%; */

  /* display: inline-block; */
  /* /\* overflow-x: scroll; *\/ */
  /* overflow-y: scroll; */

  /* margin: 2rem 0; */

  /* text-align: left; */

  /* color: var(--accent); */
}

a:hover {
  color: var(--accent);
}

h1 {
  font-size: 200%;

  margin-bottom: 0.5rem;
}

h2 {
  font-size: 120%;

  margin-bottom: 0.5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header {
  font-size: 75%;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  /* padding: 20px; */
  height: 80px;

  user-select: none;
}

header a,
time {
  text-decoration: none;

  color: var(--meta);
}

header a:hover {
  color: var(--accent);
}

header span {
  color: var(--text);
}
